
.contorno {
  position: relative;
  height: 390px;
  width: 690px;
  background-color: #479705;
  margin: 10%;
}

.area {
  position: absolute;
  height: 358px;
  width: 658px;
  border: 2px solid #FFFFFF;
  top:15px;
  left: 15px;
}

.porteriaDerecha {
  position: absolute;
  height: 120px;
  width: 90px;
  border: 2px solid #FFFFFF;
  top: 120px;
  left: -2px;
}

#porteriaIzquierda {
  left: 566px;
}

.circunferencia {
  position: absolute;
  border-radius: 50%;
}

#mediaCancha {
  height: 100px;
  width: 100px;
  border: 2px solid #FFFFFF;
  top: 36.5%;
  right: 42%;
}

.balon {
  height: 15px;
  width: 15px;
  background: #FFFFFF;
}

#balon1 {
  top: 33.5%;
  left: 12.5%;
}

#balon2 {
  top: 64%;
  left: 84%;
}

#balon3 {
  top: 16%;
  left: 43%;
}
